<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width"> -->
    <meta content="width=device-width,minimum-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable" />  
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1"> -->
    <link rel="stylesheet" href="https://gocafefore.com/style.css">
	<title>Cafe FORE</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        *{      
            font-family: 'Jost', sans-serif;
        }
    </style>    
    <script src="https://kit.fontawesome.com/ad06c7c185.js" crossorigin="anonymous"></script>
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js"></script>
    <script src="https://checkout.sandbox.dev.clover.com/sdk.js"></script>   
    <script type="text/javascript" src="https://gocafefore.com/pages/jsencrypt.min.js"></script>    
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
    <link rel="icon" href="/images/logo.png">
    <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
         crossorigin="anonymous"
      />
    
</head>
<body>
    

    <div id="modal" class="modal">
        <div id="modal_page" class="modal_page">           
        </div>
    </div>


    <nav id="navbar" class="navbar">
        <div id="navbar_or" class="navbar_or">
            <div id="navbar_w4" class="navbar_w4">
                <a href="javascript:;" class="navbar_toggleBtn"></a>
                <div id="navbar_logo" class="navbar_logo">
                    <a href="https://gocafefore.com" class="logo_btn"></a>
                    <!-- <a href="./cafeFORE">Cafe FORE</a> -->
                </div>

                
        <!-- </div> -->
            </div>
            <ul class="navbar_nav_list">
                <!-- <li><a href="/" data-link-T>HOME</a></li> -->
                <li><a href="/about" data-link-T>ABOUT</a></li>
                <li><a href="/menu" data-link-T>MENU</a></li>   
                <li><a href="/shop" data-link-T>ONLINE SHOP</a></li>             
                <li><a href="/contact" data-link-T>CONTACT</a></li>
                <li id="li_login_toggle" class="li_login_toggle">
                    <% if (post == "GUEST") { %>

                        <div in="login" class="login">
                            <div id="login_btn" class="login_btn">
                                <img src="https://gocafefore.com/images/login.png" id="account_modal_pop_btn" class="account_modal_pop_btn" title="Sign In" width="40px">
                                <div id="account_modal_pop_btn_id" class="account_modal_pop_btn_id" title="Log In">GUEST</div>
                            </div>
                           
                            <div id="account_modal_pop_container" class="account_modal_pop_container">                        
                            </div>
                        </div>
                        <% } %>
                        <% if (post != "GUEST") { %>
                        <div id="login" class="login">
                            <div id="user_info" class="user_info">
                                <img src="https://gocafefore.com/images/login.png" id="user_info_btn_icon" class="user_info_btn" title="member info" width="40px">
                                <div id="user_info_btn_id" class="user_info_btn"><%= post %></div>
                            </div>
                            <div id="user_profile_container" class="user_profile_container">
                                <div id="user_profile" class="user_profile">
                                    <div id="user_profile_name" class="user_profile_name"></div>
                                </div>
                            </div>
                            
                        </div>
                    <% } %>
                </li>             
                
            </ul>
           

            <div id="navbar_icons" class="navbar_icons">
                    <div id="item_count" class="item_count"></div>
                    <div id="go_cart_box" class="go_cart_box">
                        <img src="https://gocafefore.com/images/cart.png" id="view_cart_btn" class="view_cart_btn" title="view cart" width="38px">
                        
                    </div>
                    <div id="cart_modal_container" class="cart_modal_container">
                        <div id="cart_modal_page" class="cart_modal_page">
                            
                        </div>
                    </div>              
            </div>


        </div>
    </nav>

    <section id="main" class="main">
        <div class="js-cta-button button-link button-link__transparent button-link__full-width button-link__blink"></div>

        <div class="main_background main_background__blink">
            <div class="mainback1"></div>    

        </div>
        <div id="lorem" class="lorem">            

        </div>
       
    </section>
    
    <section class="footer" style="padding-left: 0px; padding-right: 0px;">
        <div class="footer_first">
            <div class="footer_left">
                <div class="foot_address">
                    <br>
                    <span><i aria-hidden="true" class="fas fa-map-marker-alt"></i></span>
                    <span><bold>LOCATION.</bold></span><br>
                    <div class="foot_adr">
                    4400 Roswell RD Ste 126<br>
                    Inside LA Fitness<br>
                    Marietta, GA 30062<br><br>
                    
                    <span>
                        <a href='tel:470-263-6495'><i aria-hidden="true" class="fas fa-phone-alt"></i></span>
                        <span>(470) 263-6495</span></a></div><br>
                </div>   
    
            </div>
            <div class="footer_mid">
                <div class="foot_hours">
                    
                    <br>
                    <span><i aria-hidden="true" class="fas fa-clock"></i></span>
                    <span><bold>HOURS.</bold></span><br>
                    
                    <div class="foot_hr">
                    MON - FRI<br>
                    11am - 8pm<br>  
                    SAT - SUN<br>
                    12 - 6pm<br>                  
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_second">
            <div class="footer_mid2">
                <div class="foot_icons">
                    <a href="//www.facebook.com/Cafe-FORE-103402129218652/" target="_blank" style="padding-right: 2rem;"><i class="fab fa-facebook"></i></a>
                    <a href="//www.instagram.com/cafe_fore/" target="_blank"><i class="fab fa-instagram"></i></a>
                    
                </div>
            </div>
    
            <div class="footer_right">
                <div class="logo_btn foot_logo"></div><i class="fa-solid fa-angles-up"></i>
            </div>
        </div>
          index.ejs
    </section>
    
    <div id="glogin_script" class="glogin_script"></div>
    <div id="gmap_script" class="gmap_script"></div>
    <div id="gmld_script" class="gmld_script"></div>
	
    <script type="module" src="https://gocafefore.com/index.js"></script>
    
    

    
</body>
</html>
